.header {
  padding: 10px 10px 0 185px;
}

.status {
  line-height: 35px;
}

.details {
  list-style: none;
  padding: 0;
  margin: 20px 0 0 30px;
}

.details li {
  display: inline;
  margin-right: 10px;
}

.details li .icon {
  margin-right: 5px;
}

.details .address {
  display: block;
  margin-top: 10px;
}

.description {
  padding: 30px;
}
