.search-content {
  position: relative;
  margin-left: 0;
}

@media (min-width: @screen-lg-min) {
  .search-content {
    margin-left: @layout-sidebar-width-lg + @layout-gutter-sm;
  }
}

@media (min-width: @screen-xl-min) {
  .search-content {
    margin-left: @layout-sidebar-width-lg + @layout-gutter-md;
  }
}
