.container {
  padding: @layout-gutter-sm;
}

@media (min-width: @screen-xl-min) {
  .container {
    padding: @layout-gutter-lg;
    margin-left: @layout-sidebar-width;
    overflow-x: visible;
  }
}
