.company-admin-content {
  padding: @layout-gutter-sm;
}

@media (min-width: @screen-xl-min) {
  .ant-layout > .ant-layout.company-admin-content {
    padding: @layout-gutter-lg;
    margin-left: @layout-sidebar-width;
    overflow-x: visible;
  }
}
