@body-background: #f2eee6;
@layout-body-background: #f2eee6;
@primary-color: #cb312e;
@success-color: #6c8d52;
@error-color: #cb312e;

@layout-header-height: 50px;
@border-radius-base: 0px;

@alert-success-bg-color: @success-color;
@alert-error-bg-color: 'none';
@alert-error-border-color: @error-color;
