@body-background: #f2eee6;
@layout-body-background: #f2eee6;
@layout-header-background: #2f2f36;

@primary-color: #cb312e;
@success-color: #6c8d52;
@error-color: #cb312e;

@border-radius-base: 0px;

@alert-success-bg-color: @success-color;
@alert-error-bg-color: 'none';
@alert-error-border-color: @error-color;

@layout-header-height: 64px;

// Media queries breakpoints
// Extra small screen / phone
@screen-xs: 480px;
@screen-xs-min: @screen-xs;

// Small screen / tablet
@screen-sm: 576px;
@screen-sm-min: @screen-sm;

// Medium screen / desktop
@screen-md: 768px;
@screen-md-min: @screen-md;

// Large screen / wide desktop
@screen-lg: 992px;
@screen-lg-min: @screen-lg;

// Extra large screen / full hd
@screen-xl: 1200px;
@screen-xl-min: @screen-xl;

// Extra extra large screen / large desktop
@screen-xxl: 1600px;
@screen-xxl-min: @screen-xxl;
