.loader {
  position: relative;
  background-color: @white;
  display: block;
  min-height: 50px;
  width: 100%;
}

.quill :global {
  .ql-editor {
    min-height: 300px;
  }

  .ql-toolbar.ql-snow {
    border-left: none;
    border-right: none;
    line-height: 20px;
  }

  .ql-container.ql-snow {
    border: none;
  }
}
