@import '~antd/lib/style/themes/default.less';

.container {
  position: relative;
  display: inline-block;
  border: 1px solid @border-color-base;
  padding: 5px;
  margin-right: 20px;
}

.container .icon {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 16px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.1s linear;
  background-color: @white;
}

.container.selected {
  border-color: @primary-color;
}

.container.selected .icon {
  visibility: visible;
  opacity: 1;
}

.container .image {
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.container .image img {
  height: 150px;
  width: auto;
}
