.edit-job-title-input {
  padding: 0 16px;
}

.edit-job-title-input input.ant-input {
  border: none;
  font-size: 30px;
  padding: 0;
  line-height: 3em;
}

.edit-job-title-input .ant-form-item-control.has-error {
  border-bottom: 1px solid @error-color;
  -webkit-transition: border 100ms ease-out;
  -moz-transition: border 100ms ease-out;
  -o-transition: border 100ms ease-out;
  transition: border 100ms ease-out;
}

.edit-job-title-input input.ant-input:focus {
  box-shadow: none;
}
