.job_posting_form .posting-select-menu {
  padding-bottom: 2px;
}

.job_posting_form .posting-select-menu .ant-divider {
  margin: 4px 0 2px 0;
}

.job_posting_form .extra-option {
  padding: 5px 12px 5px 12px;
  cursor: pointer;
}

.job_posting_form .extra-option:hover {
  background-color: @primary-1;
}

.job_posting_form .ant-input-number,
.job_posting_form .ant-calendar-picker {
  width: 100%;
}
