.posting-select-menu {
  padding-bottom: 2px;
}

.posting-select-menu .ant-divider {
  margin: 4px 0 2px 0;
}

.extra-option {
  padding: 5px 12px 5px 12px;
  cursor: pointer;
}

.extra-option:hover {
  background-color: @primary-1;
}
