.headerContainer {
  position: fixed;
  z-index: 10;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  height: @layout-header-height-sm;
}

.headerBrand {
  float: left;
}

@small_pg_margin: @layout-header-height-sm / 4;
.brandPlaceholder {
  width: 120px;
  height: @layout-header-height-sm / 2;
  background: rgba(255, 255, 255, 0.2);
  margin: @small_pg_margin 24px @small_pg_margin 0;
  display: inline-block;
}

.menuIcon {
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  color: @white;
  margin: 0 20px;
  transition: color 0.3s;
  line-height: @layout-header-height-sm;
}

.menuIcon:hover {
  color: @primary-4;
}

.headerMenu {
  line-height: @layout-header-height-sm;
  display: flex;
}

.headerSubMenu {
  margin-left: auto;
}

.headerMenuGroup {
  text-align: right;
}

@media (min-width: @screen-xl-min) {
  .headerContainer {
    height: @layout-header-height-lg;
  }

  .headerMenu {
    line-height: @layout-header-height-lg;
  }

  @large_pg_margin: @layout-header-height-lg / 4;
  .brandPlaceholder {
    height: @layout-header-height-lg / 2;
    margin: @large_pg_margin 24px @large_pg_margin 0;
  }

  .menuIcon {
    display: none;
  }
}
