@import '~antd/lib/style/themes/default.less';

.container {
  background-color: @white;
  display: none;
  position: fixed;
  height: 100vh;
  overflow: auto;
}

@media (min-width: @screen-xl-min) {
  .container {
    display: inline;
  }
}
