@import '~antd/lib/style/themes/default.less';

:export {
  // unit strips the px suffix
  affixLg: unit(
    @layout-header-height-lg + (@padding-xs*2 + @input-height-lg + @padding-md)
  );

  affixScroll: unit(
    @layout-header-height-lg +
      (@padding-xs*2 + @input-height-lg + @padding-md*2)
  );

  affixSm: unit(
    @layout-header-height-sm + (@padding-xs*2 + @input-height-lg + @padding-sm)
  );
}
